html, body{
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.5)), url("https://assets.nflxext.com/ffe/siteui/vlv3/8f12b4f0-a894-4d5b-9c36-5ba391c63fbe/44355e66-dbf8-4dd8-ba6b-8e9e32ec6abd/IN-en-20230320-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: auto;
    background-repeat: no-repeat;
}
.password{
    color: black;
    text-align: left;
    border-color: #000;
    width: 100%;
    font-size: medium;
    border: solid;
}
        
.button2 {
    background-color:red;
    color: #000;
    font-weight: 40;
    border: 1px solid;
    width: 100%;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    text-align: center;
    align-items: center;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    transition: opacity 0.2s ease-in;
    outline: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
    border-radius: 2px;
    }
.help{
    color: rgb(84, 138, 240);
}
     
 form{
    height: 300px;
    width: 500px;
    background-color: white;
    position: fixed;
    top: 10%;
    left: 30%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    color: #fff;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: black;
    outline: none;
    border: none;
}
form h1{
    font-size: 32px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
    color:black;
    }

    @media screen and (max-width: 600px) {
        .col-25, .col-75, input[type=submit] {
          width: 100%;
          margin-top: 0;
        }
    }
